<!DOCTYPE html>
<html lang="pt-br">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
            <title>ChatBot</title>
        </head>
    <body>
        <div class="chat_wrapper" id="chat_wrapper">
            <div class="message_box" id="message_box"></div>
            <div class="panel">
                <input type="text" name="message" class="message" id="message" placeholder="Message" maxlength="80" style="width:40%" />
                <button id="send-btn">Send</button>
            </div>
        </div>
        @helper.javascriptRouter("jsRoutes")(routes.javascript.BotController.socket)
        <script type="text/javascript">

        </script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>


    </body>
</html>