
<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <title>ChatBot</title>
        </head>
    <body>
        <div id="on" class="watson">
            <div class="mensagens">
                <div class="area" id="chat">
		</div>
                <div id="chat-messages">
        </div>
            </div>
            <form id="mensagem" class="mensagem">
                <input type="text" id="texto" name="texto" placeholder="Digite sua mensagem"/>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </body>
</html>