@(title: String)
<!doctype html>

<html lang="pt-br">
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  </head>
  <body style="background-color: darkgray;">

    <script type="text/javascript">
            (function (d, t, b) {
              var a = d.createElement(t), e = d.getElementsByTagName(b)[0];
              a.type = 'text/javascript';
              a.src = '/chat.js';
              e.insertBefore(a, e.firstChild);
            })(document, 'script', 'body');
    </script>

  </body>
</html>
